In [12]:
from bs4 import BeautifulSoup 
import requests

In [13]:
url = 'https://en.wikipedia.org/wiki/List_of_largest_companies_in_the_United_States_by_revenue'
page = requests.get(url)
soup = BeautifulSoup(page.text, 'html')

In [14]:
print(soup.prettify()[:500])

<!DOCTYPE html>
<html class="client-nojs vector-feature-language-in-header-enabled vector-feature-language-in-main-page-header-disabled vector-feature-sticky-header-disabled vector-feature-page-tools-pinned-disabled vector-feature-toc-pinned-enabled vector-feature-main-menu-pinned-disabled vector-feature-limited-width-enabled vector-feature-limited-width-content-enabled vector-feature-zebra-design-disabled" dir="ltr" lang="en">
 <head>
  <meta charset="utf-8"/>
  <title>
   List of largest compa

In [15]:
table = soup.find_all('table')[1]
print(table.prettify()[:500])

<table class="wikitable sortable">
 <caption>
 </caption>
 <tbody>
  <tr>
   <th>
    Rank
   </th>
   <th>
    Name
   </th>
   <th>
    Industry
   </th>
   <th>
    Revenue
    <br/>
    (USD millions)
   </th>
   <th>
    Revenue growth
   </th>
   <th>
    Employees
   </th>
   <th>
    Headquarters
   </th>
  </tr>
  <tr>
   <td>
    1
   </td>
   <td>
    <a href="/wiki/Walmart" title="Walmart">
     Walmart
    </a>
   </td>
   <td>
    <a href="/wiki/Retail" title="Retail">
     Retail

In [16]:
world_titles = table.find_all('th')

In [17]:
world_table_tiles =  [title.text.strip() for title in world_titles]

print(world_table_tiles)

['Rank', 'Name', 'Industry', 'Revenue (USD millions)', 'Revenue growth', 'Employees', 'Headquarters']

In [18]:
import pandas as pd

In [19]:
df = pd.DataFrame(columns = world_table_tiles)
df

Empty DataFrame
Columns: [Rank, Name, Industry, Revenue (USD millions), Revenue growth, Employees, Headquarters]
Index: []

In [20]:
column_data = table.find_all('tr')

In [21]:
for row in column_data[1:]: 
    row_data = row.find_all('td')
    individual_row_data = [data.text.strip() for data in row_data]
   
    length = len(df)
    df.loc[length] = individual_row_data

df.head()

,Rank,Name,Industry,Revenue (USD millions),Revenue growth,Employees,Headquarters
0,1,Walmart,Retail,"611,289",6.7%,"2,100,000","Bentonville, Arkansas"
1,2,Amazon,Retail and Cloud Computing,"513,983",9.4%,"1,540,000","Seattle, Washington"
2,3,Exxon Mobil,Petroleum industry,"413,680",44.8%,"62,000","Spring, Texas"
3,4,Apple,Electronics industry,"394,328",7.8%,"164,000","Cupertino, California"
4,5,UnitedHealth Group,Healthcare,"324,162",12.7%,"400,000","Minnetonka, Minnesota"

In [22]:
df.to_csv('webscraping.csv', index=False)